label {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

window.background {
    background-color: #2e3440;
}

button {
    background-image: none;
    background-color: #3b4252;
    color: #eceff4;
    border: 1px solid #434c5e;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease;
}

button:hover {
    opacity: 0.8;
    border: 3px solid #2e3440;
}

button:active {
    border: 3px solid white;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
}